<template>
    <div>
        I am a Full stack Web Developer living in Chiang Mai, north part of Thailand.
        I enjoy designing and coding web applications, photography, hanging out and watching movies.
        Most of all i love to play with my daughter :)
    </div>
</template>