<template>
    <div class="row">
        <div class="col-sm-4">
            <h4 class='strong'>Socials Icons to come.</h4>
            <div v-if="error" class='alert alert-danger'>Ooups! Some serious shit happened with the server.</div>
            <div v-if="success" class='alert alert-success'>Yay! Thanks for the message! I will get to you back soon!</div>
        </div>
        <div class="col-sm-8">
            <div class="jumbotron">
                <h4>Send me email</h4>
                <form @submit.prevent="validateBeforeSubmit" v-if="!formSubmitted">
                    <div class="form-group" :class="{'has-error': errors.has('name') }">
                        <label class="control-label" for="name">Name</label>
                        <input id="name" v-model="name" v-validate.initial="name" data-rules="required|min:3" class="form-control" type="text"
                               placeholder="Full Name">
                        <div class="alert alert-danger" v-if="errors.has('name')">{{ errors.first('name') }}</div>
                    </div>
                    <div class="form-group" :class="{'has-error': errors.has('email') }">
                        <label class="control-label" for="email">Email</label>
                        <input id="email" v-model="email" v-validate.initial="email" data-rules="required|email" class="form-control" type="email"
                               placeholder="Email">
                        <div class="alert alert-danger" v-if="errors.has('email')">{{ errors.first('email') }}</div>
                    </div>
                    <div class="form-group" :class="{'has-error': errors.has('url') }">
                        <label class="control-label" for="message">Message</label>
                        <textarea id="message" v-model="message" v-validate.initial="message" data-rules="required|min:10" class="form-control" type="text"
                               placeholder="Message"></textarea>
                        <div class="alert alert-danger" v-if="errors.has('message')">{{ errors.first('message') }}</div>
                    </div>

                    <button class="btn btn-primary btn-block" type="submit">Submit</button>
                </form>
                <div v-else>
                    <h1 class="submitted">Form submitted successfully!</h1>
                </div>


            </div>

        </div>
    </div>
</template>
<script>
    import Vue from 'vue'
    import VeeValidate from 'vee-validate';
    Vue.use(VeeValidate);
    export default{
        data() {
            return {
                email: '',
                name: '',
                message: '',
                error: false,
                success: false
            };
        },
        methods: {
            validateBeforeSubmit(e) {
                this.$validator.validateAll();
                if (!this.errors.any()) {
                    this.submitForm()
                }
            },
            submitForm()
            {
                this.$http.post('/sendmail', {
                                from: this.email,
                                name: this.name,
                                message: this.message
                                })
                    .then((response) => {
                    console.log(response);
                        if (response.body.failed)
                        {
                            this.error = true;
                            this.success = false;
                        }
                        else if(response.body.success)
                        {
                            this.success = true;
                            this.error = false;
                        }
                  }, (response) => {
                    this.error = true;
                    this.success = true;
                  });
            }
        }
   }

</script>