<template>
    <div>
        <div class='well'>
            <h4>{{ title }}</h4>
            <div>Grid bellow works with 100.000 dummy data seeded by DataSeeder</div>
        </div>
        <div class="table-responsive">
            <div class='well'>
                <div class='row'>
                    <form>
                    <div class="col-md-4 ">
                        <div class="form-group ">
                            <select class="form-control" v-model="Query.search_column">
                                <option v-for='column in TableColumns' v-bind:value="column.dbField">
                                    {{column.displayName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 row-space">
                        <div class="form-group">
                            <select class="form-control" v-model="Query.search_operator">
                                <option v-for="(value, key) in Operators" :value="key">{{value}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 row-space">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       placeholder="What are you looking for?"
                                       v-model="Query.search_input"
                                       @keyup.enter="resetQuery()"
                                       @keyup="resetQuery()"
                                />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" @click="resetQuery()">
                                        Go!
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
            <div v-if="TableRows.total > 0">
                <table class="table">
                    <thead>
                    <tr>
                        <th v-for='column in TableColumns'  @click="toggleOrder(column.dbField)">
                            <span>{{column.displayName}}</span>
                                <span v-if="column.dbField === Query.column">
                                    <span v-if="Query.direction === 'desc'">&darr;</span>
                                <span v-else>&uarr;</span>
                            </span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for='row in TableRows.data'>
                        <td v-for='(value, key) in row'>
                            <span v-if="isEditable(key)">
                                <input v-model:fieldValue='row[key]' @keydown.tab="update(row.id, key, value)">
                            </span>
                            <span v-else>
                                {{row[key]}}
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="well">
                    <div class="row">
                        <div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <ul class="pagination pagination_custom">
                                    <li v-if="TableRows.current_page > 1">
                                        <a href="#" aria-label="First page"
                                           @click.prevent="first()">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li v-if="TableRows.current_page > 1">
                                        <a href="#" aria-label="Previous"
                                           @click.prevent="prev()">
                                            <span aria-hidden="true">&larr;</span>
                                        </a>
                                    </li>
                                    <li v-for="page in pagesNumber"
                                        v-bind:class="[ page == isActive ? 'active' : '']">
                                        <a href="#"
                                           @click.prevent="setPage( page )">{{ page }}</a>
                                    </li>

                                    <li v-if="TableRows.current_page < TableRows.last_page">
                                        <a href="#" aria-label="Next"
                                           @click.prevent="next()">
                                            <span aria-hidden="true">&rarr;</span>
                                        </a>
                                    </li>
                                    <li v-if="TableRows.current_page < TableRows.last_page">
                                        <a href="#" aria-label="Next"
                                           @click.prevent="last()">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-2 row-space">
                                <div class="input-group">
                                <span class="input-group-addon" title="Go to page">
                                    <i class="glyphicon glyphicon-arrow-right"></i>
                                </span>
                                    <input type="text" class="form-control small-input" title="Go to page"
                                           v-model="Query.page"
                                           @keyup.enter="fetchDataFromTable()"
                                           @keyup="fetchDataFromTable()"
                                    />
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-2 row-space">
                                <div class="input-group">
                                <span class="input-group-addon" title="Rows per page">
                                    <i class="glyphicon glyphicon-th-list"></i>
                                </span>
                                    <input type="text" class="form-control small-input" title="Rows per page"
                                           v-model="Query.per_page"
                                           @keyup.enter="fetchDataFromTable()"
                                           @keyup="fetchDataFromTable()"
                                    />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-2 row-space">
                            <div>{{TableRows.from}} - {{TableRows.to}} of {{TableRows.total}} records (p.{{TableRows.current_page}}/{{TableRows.total}})</div>
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            <div v-if='TableRows.total === 0' class='text-center alert alert-danger'>
                Sorry, no data for requested criteria.
            </div>
        </div>
    </div>
</template>
<script>
export default{
    props: [
        'source',
        'title',
        'headerColumns',
        'editableColumns',
    ],
    filters: {
        capitalize: function (str)
        {
            // return str.charAt(0).toUpperCase() + str.slice(1)
        }
    },
    computed: {
        isActive: function ()
        {
            return this.TableRows.current_page;
        },
        pagesNumber: function ()
        {
            if (!this.TableRows.to)
            {
                return [];
            }
            var from = this.TableRows.current_page - this.offset;
            if (from < 1)
            {
                from = 1;
            }
            var to = from + (this.offset * 2);
            if (to >= this.TableRows.last_page)
            {
                to = this.TableRows.last_page;
            }
            var pagesArray = [];
            while (from <= to)
            {
                pagesArray.push(from);
                from++;
            }
            return pagesArray;
        }
    },
    data() {
        return {
            fieldValue: '',
            offset: '2', // offset to left and right starting from the current page
            TableRows: {},
            TableColumns: {},
            Query: {
                page: 1,
                column: 'id',
                direction: 'asc',
                per_page: 10,
                search_column: 'id',
                search_operator: 'equal',
                search_input: '',
                to: 0
            },
            Operators: {
                equal: '=',
                not_equal: '<>',
                less_than: '<',
                greater_than: '>',
                less_than_or_equal_to: '<=',
                greater_than_or_equal_to: '>=',
                in: 'IN',
                like: 'LIKE'
            }
        }
    },
    created(){
        this.fetchDataFromTable()
    },
    methods: {
        update(recordId, field, value)
        {
           console.log(recordId + field + value);
        },
        isEditable(field)
        {
            return this.editableColumns.indexOf(field) > -1;
        },
        setPage(page)
        {
            this.Query.page = page;
            this.fetchDataFromTable();
        },
        resetQuery()
        {
            this.Query.page = 1;
            this.fetchDataFromTable();
        },
        fetchDataFromTable(){
            this.$http.get(
                this.source +
                '?column=' + this.Query.column +
                '&direction=' + this.Query.direction +
                '&page=' + this.Query.page +
                '&per_page=' + this.Query.per_page +
                '&search_column=' + this.Query.search_column +
                '&search_operator=' + this.Query.search_operator +
                '&search_input=' + this.Query.search_input
            ).then((response) =>
            {
                this.TableRows = response.body.model
                this.TableColumns = this.headerColumns//response.body.columns
            }, (response) =>
            {
                console.log(response)
            });
        },
        last()
        {
            if (this.TableRows.next_page_url)
            {
                this.Query.page = this.TableRows.last_page;
                this.fetchDataFromTable()
            }
        },
        first()
        {
            if (this.TableRows.prev_page_url)
            {
                this.Query.page = 1;
                this.fetchDataFromTable()
            }
        },
        next() {
            if (this.TableRows.next_page_url)
            {
                this.Query.page++
                this.fetchDataFromTable()
            }
        },
        prev() {
            if (this.TableRows.prev_page_url)
            {
                this.Query.page--
                this.fetchDataFromTable()
            }
        },
        toggleOrder(column) {
            if (column === this.Query.column)
            {
                // only change direction
                if (this.Query.direction === 'desc')
                {
                    this.Query.direction = 'asc'
                }
                else
                {
                    this.Query.direction = 'desc'
                }
            }
            else
            {
                this.Query.column = column
                this.Query.direction = 'asc'
            }
            this.fetchDataFromTable()
        }
    }
}
</script>
<style>
    .pagination_custom {
      margin: 0;
    }
    .pagination>li>a, .pagination>li>span {
      position: relative;
      float: left;
      padding: 8px 12px;
      text-decoration: none;
      color: black;
      background-color: #fff;
      border: 1px solid #ddd;
      margin-left: -1px;
      font-weight: normal;
    }
    .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
      z-index: 2;
      color: #999;
      background-color: #f5f5f5;
      border-color: #ddd;
      cursor: hand;
      font-weight: bold;
    }
    /** make input field invisible **/
    td > span > input {
        border: 0px;
        background-color: transparent;
    }
</style>
