<template>
    <ul class="nav nav-tabs nav-justified">
        <li v-on:click="setActive('about')" :class="{ active:isActive('about') }">
            <router-link to="about">About</router-link>
        </li>
        <li v-on:click="setActive('resume')" :class="{ active:isActive('resume') }">
            <router-link to="resume">Resume</router-link>
        </li>
        <li v-on:click="setActive('skills')" :class="{ active:isActive('skills') }">
            <router-link to="skills">Skills</router-link>
        </li>
        <li v-on:click="setActive('contact')" :class="{ active:isActive('contact') }">
            <router-link to="contact">Contact</router-link>
        </li>
        <li v-on:click="setActive('example')" :class="{ active:isActive('example') }">
            <router-link to="example">Data Grid</router-link>
        </li>
    </ul>
</template>
<script>
export default {
  data() {
    return {
    activeItem: 'about'
    }
  },
  methods: {
    isActive: function (menuItem) {
      return this.activeItem === menuItem
    },
    setActive: function (menuItem) {
      this.activeItem = menuItem

    }
  }
}
</script>