<template>
    <div class="row">
        <div class="col-sm-4">
            <h3 class='strong'>WORK EXPERIENCE</h3>
            <div><a href="/images/vladimirnikolic2015.pdf" download><img src="images/pdf.png" class="img-responsive" alt="Download Resume" title="Download resume"></a></div>
            <br />
        </div>
        <div class="col-sm-8">
            <div class="jumbotron">
                <h4>Senior PHP Developer</h4>
                <h5>@First Beat Media</h5>
                <ul>
                    <li>&#10141; Team lead on affiliate program rewriting legacy code</li>
                    <li>&#10141; Part of backend team creating various kind of statistics to be used by Business Team</li>
                    <li>&#10141; One of the core developers that maintains and updates all of the affiliate programs.</li>
                </ul>
                <h5><strong>Achievements:</strong></h5>
                <ul>
                    <li>&#x272D; Working with and processing optimizing and displaying statistic data from +100.000.000 records in DB</li>
                    <li>&#x272D; Providing statistics to business team used to increase company incomes</li>
                </ul>
            </div>
            <div class="jumbotron">
                <h4>Senior Software Engineer</h4>
                <h5>@IvyExec.com</h5>
                <ul>
                    <li>&#10141; Part of backend team rewriting and porting legacy code into Zend Framework 2.</li>
                    <li>&#10141; Database and code maintenance and improving. </li>
                    <li>&#10141; Initialising and participating in Dev environment improvements such Vagrant and PHP Unit tests.</li>
                </ul>
                <h5><strong>Achievements:</strong></h5>
                <ul>
                    <li>&#x272D; Speeding up legacy code by ~60% providing company benefit of serving 3 times more jobs in job feeds resulting in more subscriptions</li>
                    <li>&#x272D; Settled coding standards and rule for many to follow</li>
                </ul>
            </div>
        </div>
    </div>
</template>