<template>
    <div class="row">
        <div class="col-sm-4">
            <ul>
                <li>&#10141; PHP</li>
                <li>&#10141; MySql</li>
                <li>&#10141; Javascript</li>
                <li>&#10141; Laravel, Zend</li>
                <li>&#10141; PHP Unit Testing</li>
                <li>&#10141; Subversion/Mercurial/Git</li>
                <li>&#10141; Atlassian JIRA</li>
                <li>&#10141; Scrum, Agile</li>
                <li>&#10141; Code rewriting/refactoring</li>
            </ul>
        </div>
        <div class="col-sm-8">
            <div class="contentContainer">
                <div class="progressBar">
                    <h4>PHP</h4>
                    <div class="progressBarContainer">
                        <div class="progressBarValue value-90"></div>
                    </div>
                </div>
                <div class="progressBar">
                    <h4>MySql</h4>
                    <div class="progressBarContainer">
                        <div class="progressBarValue value-90"></div>
                    </div>
                </div>
                <div class="progressBar">
                    <h4>Javascript</h4>
                    <div class="progressBarContainer">
                        <div class="progressBarValue value-90"></div>
                    </div>
                </div>
                <div class="progressBar">
                    <h4>Vue.js</h4>
                    <div class="progressBarContainer">
                        <div class="progressBarValue value-50"></div>
                    </div>
                </div>
                <div class="progressBar">
                    <h4>Playing football</h4>
                    <div class="progressBarContainer">
                        <div class="progressBarValue value-20"></div>
                    </div>
                </div>
                <div class="progressBar">
                    <h4>Party</h4>
                    <div class="progressBarContainer">
                        <div class="progressBarValue value-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>