
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Menu
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Roboto:400,700');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font: 12px/1 'Roboto', sans-serif;
  color: #555;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

a:hover {
  background: #eee;
}

a.router-link-active {
  color: #777;
  background-color: #fafafa;
}


/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
  padding-left: 10px;
  opacity: 0;
}




.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 100%;
  height: 100%;
  min-width: 200px;
  max-width: 800px;
  padding: 40px;
}
#middle_box
{
  position:relative;
  padding: 50px 0px 0px 0px;
  top:50px;
  border:1px solid #ececec;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-image: url("/images/floor.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: ghostwhite;
}
.footer{
  margin-top: 50px;
  background-color: whitesmoke;
  text-align: center;
  clear:both;
  padding:10px;
}
.white {
  padding: 24px;
  background-color: ghostwhite;
  margin-bottom: 20px;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}
a {
   font-size: 13px;
   font-weight: bold;
   text-align: center;
   color: #000;
   cursor: pointer;
 }


.contentContainer {
  background: #efefef;
  padding: 20px;
  max-width: 350px;
  min-width: 150px;
  margin: 3vh auto;
  border-radius: 10px;
  border: solid 5px #dbdbdb;
}

/*///////////////////////////////////////////////////////
    // Progress Bars \\
///////////////////////////////////////////////////////*/

.progressBar {
  margin-bottom: 26px;
  margin-bottom: 1.66em;
}

.progressBar h4 {
  font-size: 21px;
  font-size: 1.33em;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 7px;
  margin-bottom: .33em;
}

.progressBarContainer {
  width: 100%;
  max-width: 350px;
  height: 26px;
  height: 1.66em;
  background: #e6eae3;
  background: rgba(60, 51, 54, 0.2);
  overflow: hidden;
  border-radius: 5px;
}

.progressBarValue {
  height: 1.66em;
  float: left;
  background: #0866dc;
  background: rgba(136, 142, 150, 0.75);
}

.value-00 { width: 0; }

.value-10 { width: 10%; }

.value-20 { width: 20%; }

.value-30 { width: 30%; }

.value-40 { width: 40%; }

.value-50 { width: 50%; }

.value-60 { width: 60%; }

.value-70 { width: 70%; }

.value-80 { width: 80%; }

.value-90 { width: 90%; }

.value-100 { width: 100%; }